#clndr{
    width: 100%;
    margin: auto;
    line-height: 30px;
}

span.today-highlight{
    text-decoration: underline 3px rgb(32, 184, 255);
    margin-right: 3px;
}

span.birthday-highlight{
    text-decoration: underline 3px rgb(255, 193, 68);
    margin-right: 3px;
}

.zabuto-calendar__day--today .birthday-highlight{
    text-decoration: underline 3px rgb(0, 222, 107);
    margin-right: 3px;
}